<nav class="navbar has-shadow is-spaced is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                <a href="/" class="navbar-item">Home</a>
                <a href="{{ path('essence_index') }}" class="navbar-item">
                    <span class="icon has-text-black">
                        <i class="fas fa-gas-pump"></i>
                    </span>
                    <span>
                        Essence
                    </span>
                </a>
                <a href="{{ path('meteo_index') }}" class="navbar-item">
                   <span class="icon has-text-warning">
                        <i class="far fa-sun"></i>
                    </span>
                    <span>
                        Météo
                    </span>
                </a>
                <a href="{{ path('iss_index') }}" class="navbar-item">
                    <span class="icon has-text-success">
                        <i class="fas fa-rocket"></i>
                    </span>
                    <span>
                        ISS
                    </span>
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Social
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fab fa-instagram"></i>
                            </span>
                            <span>
                                Instagram
                            </span>
                        </a>
                        <a class="navbar-item">
                            <span class="icon has-text-info">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>
                                Twitter
                            </span>
                        </a>

                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
