{% extends 'base.html.twig' %}
{% block body %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Station ISS</h2>
        </div>

        <div class="container">
            <div id="app-iss"></div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iss') }}
{% endblock %}
